[submodule "cybercommons"]
	path = cybercommons
	url = https://github.com/ou-ecolab/cybercommons.git
[submodule "ecopadq"]
	path = ecopadq
	url = https://github.com/ou-ecolab/ecopadq.git
[submodule "FortranExample"]
	path = FortranExample
	url = https://github.com/ou-ecolab/FortranExample.git
